# Frontend Environment Variables
REACT_APP_RAZORPAY_KEY_ID=rzp_test_T2EASm6D4axpcd
REACT_APP_RAZORPAY_KEY_SECRET=oK1akU7xQ91w8s4jtGJV8kwy
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_FRONTEND_URL=http://localhost:3000

# Google Translate API
REACT_APP_GOOGLE_TRANSLATE_API_KEY=AIzaSyAA6ZN-RcPMRd2lkt6oGBSDfksAMVHTPyY