REACT_APP_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxx

REACT_APP_API_URL=https://example.com/api

REACT_APP_FRONTEND_URL=https://nambikkai-fund.vercel.app

REACT_APP_GOOGLE_TRANSLATE_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxx