REACT_APP_API_URL=https://nambbikai-fund-cx3c6pch8-sanjay-kumars-projects-6d1d4c33.vercel.app/api
REACT_APP_RAZORPAY_KEY_ID=rzp_test_T2EASm6D4axpcd
REACT_APP_FRONTEND_URL=https://nambbikai-fund-s3ql-qdpjseybf-sanjay-kumars-projects-6d1d4c33.vercel.app